/* APP */

html {
    background: repeat url(https://i.imgur.com/PQlxCOb.png);
}

.intro-container {
    width: 650px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: #62D68C;
    font-size: 2.75em;
    margin: 0 auto;
}

.intro-container > p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: light;
    color: #2B213B;
    font-size: 1.25em;
}


/* ORIGINAL TWEET */

.original-tweet-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
}

.form-container {
    display: block;
    text-align: center;
}

.tweet-form {
    margin: 0 auto;
}

label {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: light; 
    font-size: 1.25em;
    color: #4D3AA7;
}

textarea {
    border: 1px solid #4D3AA7;
    border-radius: 10px;
}

.tweet-form > textarea {
    width: 500px;
}

.original-tweet-submit {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  color: #D3C2FF;
  background-color: #290096;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}



/* NEW TWEET */

.new-tweet-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 25px; 
}

.new-tweet-buttons-container {
  display: block;
}

.tweet-button, .start-over-button {
    display: inline-block;
    margin: 0 auto;
    margin-top: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.tweet-button {
    color: #fff;
    background-color: #009DFA;
    margin-right: 10px;
    text-decoration: none;
}

.start-over-button {
    color: #290096;
    background-color: #D3C2FF;
    margin-left: 10px;
}


/* SYNONYMS */

.choose-word-button {
  display: inline-block;
  margin: 0 auto;
  margin-top: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  color: #D3C2FF;
  background-color: #290096;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 10px;
}

.keep-original-button {
  display: inline-block;
  margin: 0 auto;
  margin-top: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  color: #290096;
  background-color: #D3C2FF;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-left: 10px;
}

.button-inactive {
  background-color: #E3E3E3;
  color: #676270;
}

.synonyms-container {
  margin: 50px;
}

.synonyms-container > p {
  font-family: 'Roboto Condensed', sans-serif;
  color: #2B213B;
  font-size: 1.25em;
  text-align: center;
}

.strong-word {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: #4D3AA7;
}

.button-container {
  text-align: center;
}

.synonyms-sub-container {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

.synonym-container {
  width: 20%;
}

.synonym-container > h2 {
  cursor: pointer;
}

.synonym-container > ul {
  padding: 0;
}

.nouns, .verbs, .adjectives, .adverbs {
  font-family: 'Roboto Condensed', sans-serif;
}

.synonym-active {
  font-weight: 700;
  color: #4D3AA7;
}

.synonym-inactive {
  font-weight: 300;
  color: #2B213B;
}

 /* radio button css start */
.label {
  cursor: pointer;
  display: block;
  margin: 20px;
  font-size: 1em;
  font-weight: 700;
  color: #290096;
  position: relative;
  background-color: #F0F0F0;
  padding: 8px;
  border-radius: 15px;
}
  .label::before {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #CABEDE;
    margin-right: 10px;
    vertical-align: middle;
    content: '';
    position: relative;
  }

  .label:hover {
    background-color: #E3E3E3;
    transition: background-color 1s;
  }

  .active, .active:hover {
    background-color: #62D68C;
  }

  .active::before {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #290096;
    margin-right: 10px;
    vertical-align: middle;
    content: '';
    position: relative;
  }