/* APP */

html {
  background: repeat url(https://i.imgur.com/PQlxCOb.png);
}

.App {
  width: 100%;
}

.intro-container {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: #62D68C;
  font-size: 2.75em;
  margin: 0 auto;
}

.intro-container > p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: #2B213B;
  font-size: 1.25em;
}

@media (max-width: 768px) {
  .intro-container > p {
    font-size: 1.2em;
    padding: 0 3%;
  }
}

@media (max-width: 500px) {
  .intro-container {
    width: 100%;
  }

  .intro-container > h1 {
    font-size: 2.25em;
  }

  .intro-container > p {
    font-size: 1em;
  }
}


/* ORIGINAL TWEET */

.original-tweet-container {
  width: 50%;
  margin: 0 auto;
  margin-top: 25px;
}

.form-container {
  display: block;
  text-align: center;
}

.tweet-form {
  margin: 0 auto;
}

label {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300; 
  font-size: 1.25em;
  color: #4D3AA7;
}

textarea {
  border: 1px solid #4D3AA7;
  border-radius: 10px;
  width: 65%;
}

.original-tweet-submit {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  color: #D3C2FF;
  background-color: #290096;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.original-tweet-submit:active {
  color: #daccff;
  background-color: #3a169c;
}


/* NEW TWEET */

.new-tweet-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 25px; 
}

.new-tweet-buttons-container {
  display: block;
}

.tweet-button, .start-over-button {
    display: inline-block;
    margin: 0 auto;
    margin-top: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.tweet-button {
    color: #fff;
    background-color: #009DFA;
    margin-right: 10px;
    text-decoration: none;
}

.start-over-button {
    color: #290096;
    background-color: #D3C2FF;
    margin-left: 10px;
}

@media (max-width: 1024px) {
  .original-tweet-container, .new-tweet-container {
    width: 55%;
  }

  textarea {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .original-tweet-container, .new-tweet-container {
    width: 70%;
  }

  textarea {
    width: 95%;
  }
}

@media (max-width: 500px) {
  .original-tweet-container, .new-tweet-container {
    width: 95%;
  }
}

/* SYNONYMS */

.choose-word-button {
  display: inline-block;
  margin: 0 auto;
  margin-top: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  color: #D3C2FF;
  background-color: #290096;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.choose-word-button:active {
  color: #daccff;
  background-color: #3a169c;
}

.keep-original-button {
  display: inline-block;
  margin: 0 auto;
  margin-top: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  color: #290096;
  background-color: #D3C2FF;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.button-inactive {
  background-color: #E3E3E3;
  color: #676270;
}

.button-inactive:active {
  background-color: #E3E3E3;
  color: #676270;
}

.synonyms-container {
  margin: 50px;
}

.synonyms-container > p {
  font-family: 'Roboto Condensed', sans-serif;
  color: #2B213B;
  font-size: 1.25em;
  text-align: center;
}

.strong-word {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: #4D3AA7;
}

.button-container {
  text-align: center;
}

.synonyms-sub-container {
  display: flex;
  justify-content: space-between;
  margin: 30px 50px 0 50px;
}

.synonym-container {
  width: 20%;
}

.arrow {
  display: inline;
}

.arrow-active {
  transform: rotate(0.25turn);           
  transition: transform .5s ease;
}


.synonym-container > h2 {
  display: inline;
  cursor: pointer;
  margin-left: 20px;
}

.synonym-container > ul {
  padding: 0 0 0 10%;
}



.nouns, .verbs, .adjectives, .adverbs {
  font-family: 'Roboto Condensed', sans-serif;
}

.synonym-active {
  font-weight: 400;
  color: #4D3AA7;
  transition: color .5s;
}

.synonym-inactive {
  font-weight: 300;
  color: #2B213B;
}

@media (max-width: 510px) {
  .choose-word-button, .keep-original-button {
    font-size: .75em;
    padding: 5px 10px;
  }

  .choose-word-button {
    margin-right: 5px; 
  }

  .keep-original-button {
    margin-left: 5px;
  }
}


 /* radio button css start */
.label {
  cursor: pointer;
  display: block;
  margin: 20px;
  font-size: 1em;
  font-weight: 700;
  color: #290096;
  position: relative;
  background-color: #F0F0F0;
  padding: 8px;
  border-radius: 15px;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
  .label::before {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #CABEDE;
    margin-right: 10px;
    vertical-align: middle;
    content: '';
    position: relative;
  }

  .label:hover {
    background-color: #E3E3E3;
    transition: background-color 1s;
  }

  .active, .active:hover {
    background-color: #62D68C;
  }

  .active::before {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #290096;
    margin-right: 10px;
    vertical-align: middle;
    content: '';
    position: relative;
  }


/* MOBILE LAYOUT TESTING */

.synonyms-sub-container {
  grid-template-columns: 25% 25% 25% 25%;
}

.synonym-container {
  width: 100%
}

@media (max-width: 1024px) {
  .synonym-container > h2 {
    font-size: 1.2em;
    margin-left: 10px;
  }

  .label {
    margin-left: 10px;
  }

  .label::before {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 768px) {
  .synonyms-sub-container {
    display: block;
    margin: 0 auto;
    width: 300px;
    /* grid-template-rows: 25% 25% 25% 25%; */
  }

  .list-item-container {
    border-left: 3px dashed #D3C2FF;
    padding-left: 10px;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .5s;
  }
}